<p style="color: green"><%= notice %></p>


<h2><%=@cat.name%></h2>
<p>
    <small><%=@cat.race%></small><br>
    <%=@cat.description%><br>
</p>
<p><small>This cat has been bought <%=@cat.users.count%> times already !</small></p>

<div>
  <%= link_to "Edit this cat", edit_cat_path(@cat) %> |
  <%= link_to "Back to cats", cats_path %>

  <%= button_to "Destroy this cat", @cat, method: :delete %>
  <%= button_to 'Add to Cart', add_to_cart_path(@cat), method: :post %>
</div><br>


<%= render "cat_comments", cat: @cat %>