<div class="container-fluid bg-primary-subtle py-4 mb-4 text-center">
  <h2 class="text-dark mb-0">This one is cute. That's for sure.</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="<%=asset_path(@cat.cat_image)%>" class="rounded img-fluid mx-auto d-block" alt="<%=@cat.name%>">
    </div>
    
    <div class="col-md-6 bg-light p-4 rounded">
      <h2 class="mb-4"><%= @cat.name %></h2>
      <p class="lead">
        So it's a cat. But it's a special cat that's for sure. Look at his frons. Spectacular! 
        So it's a cat. But it's a special cat that's for sure. Look at his frons. Spectacular!
      </p>
      <p class="text-muted">
        <small>Race: <%= @cat.race %></small><br>
        <%= @cat.description %>
      </p>
      
      <div class="mt-4 text-center">
        <%#= button_to "Add to cart", class: "btn btn-primary px-4" %>
        <%= button_to 'Add to Cart', add_to_cart_path(@cat), method: :post %>
      </div>
      
      <div class="mt-3 text-center">
        <%= link_to "Back to cats", cats_path, class: "text-muted text-decoration-none" %>
      </div>
    </div>
  </div>
  
  <% if notice %>
    <div class="alert alert-success mt-4"><%= notice %></div>
  <% end %>
</div>
